/* CSS RESET BY ANDY BELL - URL -> https://piccalil.li/blog/a-more-modern-css-reset/    */

/* Box sizing rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

button {
  background: none;
  border: none;
  padding: 0;
}

/* END OF CSS RESET */

body {
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
}

.movers-mobile {
  display: none;
}

.main-container {
  /* background-color: aqua; */
  width: 95vw;
  height: 95vh;
  margin: 50px auto;
  border-radius: 50px;
  background-image: url(/assets/main-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  background-attachment: fixed;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

header {
  background-color: rgba(23, 23, 23, 0.8);
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 10%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: 1px solid rgba(223, 218, 218, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

header ul {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  display: flex;
  list-style: none;
  gap: 40px;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 1.2rem;
}

header button {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 1px 2px #000;

  background-color: #03b3ff;
  width: 12%;
  padding: 1px 12px;
  height: 60%;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

header img {
  width: 220px;
}

.mobile-btn {
  display: none;
}

.sample {
  background-color: red;
  width: 100%;
  height: 90vh;
}



@media (max-width: 1250px) {
  .main-container {
    width: 100%;
    margin: 0;
    border-radius: 0%;
    background-size: contain;
    background-attachment: unset;
    background-image: none;
    height: auto;
  }

  header a {
    display: block;
  }

  header {
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #414345,
      #232526
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #414345,
      #232526
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 5px 0;
    margin: 0;
    border-radius: 0%;
    display: flex;
    justify-content: space-between;
  }

  header ul,
  button {
    display: none;
  }

  header img {
    width: 140px;
  }

  .mobile-btn {
    display: flex;
    margin-right: 20px;
    align-items: center;
    padding: 5px;
  }
  .movers-mobile {
    display: grid;
  }

  .container-1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
