/* CSS RESET BY ANDY BELL - URL -> https://piccalil.li/blog/a-more-modern-css-reset/    */

/* Box sizing rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* END OF CSS RESET */

body {
  background-color: #f7f7f7;
}

.main-container {
  background-color: aqua;
  width: 95vw;
  height: 95vh;
  margin: 50px auto;
  border-radius: 40px;
  background-image: url(/assets/Foto-Kompresim-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

header {
  width: 100%;
  height: 10%;
  background-color: transparent;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom: 1px solid rgba(223, 218, 218, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 30px;
  color: white;
}

header button {
  background-color: #03b3ff;
  width: 12%;
  padding: 1px 12px;
  height: 60%;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

header img {
  width: 170px;
}

.sample {
  background-color: red;
  width: 100%;
  height: 90vh;
}
